
<% if user_signed_in? %>
    <%= link_to  "Create a new post", new_post_path, class: "btn btn-dark" %>
<% end %>
<div class="container d-flex">
    <% @posts.each do |post| %>
        <div class="card mr-3 p-3" style="width: 18rem;">
            <% if user_signed_in? %>
                posted by <%= gravatar_image_tag(post.user.email.gsub('spam', 'mdeering'), alt: post.user.name, class: "" )  %>  <%= post.user.name %>
            <% end %>
            <div class="card-body">
                <h5 class="card-title">
                    <%= link_to post.title, post_path(post) %>
                </h5>
                <p class="card-text">
                    <%= post.body %>
                </p>
            </div>
        </div>
    <% end %>
</div>